<div class="card-category my-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/rails/watch-list/homepage.png)">
  Save any kind of movies
</div>

<div class="container">
  <h2>My Lists</h2>
  <%# liste des liste %>
  <div class="cards">
    <% @lists.each do |list| %>
    <a href="/lists/<%=list.id%>">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.creativefabrica.com/wp-content/uploads/2018/12/Film-cinema-logo-vector-by-DEEMKA-STUDIO-3.jpg)">
          <%= list.name %>
      </div>
    </a>
    <% end %>
  </div>
</div>
